{{extend 'layout.html'}}

<div class="bg-light rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4 text-center">
                <h6 class="mb-0">{{=total}} {{=tipo_descricao[6:]}} ({{=pagina}}/{{=paginas}} Páginas)</h6>
                <a class="btn btn-info btn-sm" href="{{=URL('cadastrar_atividade', args=[sistema.id,tipo])}}"><i class="fa fa-fw fa-plus-square"></i> Cadastrar</a>
        </div>
    
    <div class="row">
    <div class="col-md-6">
<!--         <h5 class="text-left my-2">Pagina {{=pagina}}/{{=paginas}}</h5> -->
    </div>
    <div class="col-md-6" id="noprint">
            {{if True:}}
                 <ul class="pagination m-2  justify-content-end">
                    {{ if pagina != 1: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,1])}}">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                      {{ pass }}
                       {{ if (paginas-pagina) > -3 and (pagina > 3)  : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-3])}}">{{=pagina-3}}</a>
                    </li>
                       {{ pass }}
                       {{ if (paginas-pagina) > -2 and (pagina > 2) : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-2])}}">{{=pagina-2}}</a>
                    </li>
                       {{ pass }}
                       {{ if (paginas-pagina) > -1 and (pagina != 1) : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-1])}}">{{=pagina-1}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas) > 1: }}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{=pagina}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas-pagina) > 0: }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+1])}}">{{=pagina+1}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas-pagina) > 1: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+2])}}">{{=pagina+2}}</a>
                    </li>
                        {{ pass }}
                    {{ if (paginas-pagina) > 2: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+3])}}">{{=pagina+3}}</a>
                    </li>
                      {{ pass }}
                    {{ if pagina != paginas: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,paginas])}}">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                      {{ pass }}
                  </ul>
            {{pass}}
    </div>
</div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered mb-0">
                <thead>
                    <tr class="text-dark">
<!--                         <th id="noprint" scope="col">Alterar</th> -->
                        <th scope="col">Referência</th>
                        <th scope="col">Sistema</th>
                        <th scope="col">Versao</th>
                        {{if '1001' in tipo_descricao[0:4]:}}
                        <th scope="col">Éficácia</th>
                        {{pass}}
                        
                        {{if '1008' in tipo_descricao[0:4]:}}
                        <th scope="col">Vencimento</th>
                        <th scope="col">Prox Revisão</th>
                        {{pass}}
                        <th id="noprint" class="text-right">Acessar</th>
                    </tr>
                </thead>
                <tbody>
                    {{for row in rows:}}
                    {{if row.finalizado:}}
                    <tr style="background-color: #B0E0E6">
                        {{else:}}
                        <tr>
                        {{pass}}
<!--                     <th>
                        <a href="{{=URL('alterar',args=row.id)}}">
                            <i class="fa fa-fw fa-1x py-1 fa-pencil-square text-warning"></i>
                        </a>
                    </th> -->
                    <td>{{=row.referencia}}</td>
                    <td>{{=row.sistema.nome}}</td>
                    <td>{{=row.sistema.versao}}</td>
                        {{if '1001' in tipo_descricao[0:4]:}}
                    <td>{{=row.eficaz}}</td>
                        {{pass}}
                        
                        {{if '1008' in tipo_descricao[0:4]:}}
                        <th scope="col">{{=row.data_inicial.strftime('%d/%m/%Y')}}</th>
                        <th scope="col">{{=row.data_final.strftime('%d/%m/%Y')}}</th>
                        {{pass}}
                    <th  id="noprint"class="text-right">
        {{if not 'Anali' in usuario.tipo:}}
                        <a href="{{=URL('alterar_registro',args=row.id)}}">
                            <i class="fa fa-fw fa-1x py-1 fa-pencil-square text-warning"></i>
                        </a>
                        {{pass}}
                        {{if '1001' in tipo_descricao[0:4]:}}
                        <a href="{{=URL('acs_registro_atividade','gestao_risco',args=row.id)}}">
                            <i class="fa fa-fw fa-1x py-1 fa-list text-info"></i>
                        </a>
                        {{pass}}
                        
                        <a href="{{=URL('acs_registro_atividade','relatorio',args=row.id)}}">
                            <i class="fa fa-fw fa-1x py-1 fa-file-pdf-o text-info"></i>
                        </a>
<!--                         <a href="#">
                            <i class="fa fa-fw fa-1x py-1 fa-list text-info"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-fw fa-1x py-1 fa-folder-open text-success"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-fw fa-1x py-1 fa-circle "></i>
                        </a> -->
                    </th>
                    {{pass}}
                </tbody>
            </table>
        </div>
    
    <div class="row">
    <div class="col-md-6">
<!--         <h5 class="text-left my-2">Pagina {{=pagina}}/{{=paginas}}</h5> -->
    </div>
    <div class="col-md-6" id="noprint">
            {{if True:}}
                <ul class="pagination m-2  justify-content-end">
                    {{ if pagina != 1: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,1])}}">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                      {{ pass }}
                       {{ if (paginas-pagina) > -3 and (pagina > 3)  : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-3])}}">{{=pagina-3}}</a>
                    </li>
                       {{ pass }}
                       {{ if (paginas-pagina) > -2 and (pagina > 2) : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-2])}}">{{=pagina-2}}</a>
                    </li>
                       {{ pass }}
                       {{ if (paginas-pagina) > -1 and (pagina != 1) : }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina-1])}}">{{=pagina-1}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas) > 1: }}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{=pagina}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas-pagina) > 0: }}
                    <li class="page-item ">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+1])}}">{{=pagina+1}}</a>
                    </li>
                       {{ pass }}
                    {{ if (paginas-pagina) > 1: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+2])}}">{{=pagina+2}}</a>
                    </li>
                        {{ pass }}
                    {{ if (paginas-pagina) > 2: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,pagina+3])}}">{{=pagina+3}}</a>
                    </li>
                      {{ pass }}
                    {{ if pagina != paginas: }}
                    <li class="page-item">
                        <a class="page-link" href="{{ =URL(args=[sistema.id,tipo,paginas])}}">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                      {{ pass }}
                  </ul>
            {{pass}}
    </div>
</div>
    </div>
