{{extend 'layout.html'}}



  <div class="py-5" draggable="true">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-borderless table-sm table-striped">
              <thead>
                <tr>
                  <th colspan="3" class="text-center"><b>REVISÃO DE PROCEDIMENTOS</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Cód. Referência</b></td>
                  <td><b>Identificação do Sistema</b></td>
                  <td><b>Procedimento</b></td>
                </tr>
                <tr>
                  <td>{{=registro_atividade.referencia}}</td>
                  <td>{{=registro_atividade.sistema.nome}}</td>
                  <td>{{=registro_atividade.procedimento_implantacao}}</td>
                </tr>
                <tr>
                  <td><b>Data de válidade</b></td>
                  <td colspan="2"><b>Identificação do Procedimento</b></td>
                </tr>
                <tr>
                  <td>{{=registro_atividade.data_final}}</td>
                  <td colspan="2">{{=registro_atividade.identificacao_pop}}</td>
                </tr>
                <tr>
                  <td colspan="3"><b>Motivo da Revisão:</b></td>
                </tr>
                <tr>
                  <td colspan="3">{{=registro_atividade.motivo}}</td>
                </tr>
                <tr>
                  <td colspan="3"><b>Análise Critica em BPF:</b></td>
                </tr>
                <tr>
                  <td colspan="3">{{=registro_atividade.analise_critica}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
